# Service: Frontend
/Frontend @ReilleyMilne
# PRLabel: %Frontend
# PrimaryOwners: @ReilleyMilne

# Service: Backend
/Backend @ReilleyMilne
# PRLabel: %Backend
# PrimaryOwners: @ReilleyMilne

# Service: Database
/Database @ReilleyMilne
# PRLabel: %Database
# PrimaryOwners: @ReilleyMilne
